
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color:green; 

    text-align: center;
}

h2 { 
    color: black;
    text-align: center;

}

p {
    font-size: 15px;
    text-align: center;
    color: black;
}

nav{
    text-align: center;
}
img{
    image-rendering: center;
}


table{
    text-align: center;
}




body {
    margin: 0;
    
    font-family: Georgia, 'Times New Roman', Times, serif
    ; 
    
}

.contenedor-articulo {
    max-width: 750px; 
    margin: 50px auto; 
}


p {
    line-height: 1.6;
    color: #333;
}


body {
    
    background-image: url('imagen/images\ \(4\).jpg'); 
    
    
    background-size: cover;       
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center center; 

}