
.header-content {
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #495057;
 }

 .header-content {
    
    background-color: #f8f9fa; 
    padding: 50px 0;
 }

card-estandar{
    border-radius: 10px;
    transition: transform 0.3s ease;
    border: 3px solid #0d6efd; 
}