
.header-content {
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #495057;
 }

 .header-content {
    
    background-color: #f8f9fa; 
    padding: 50px 0;
 }

card-estandar{
    border-radius: 10px;
    transition: transform 0.3s ease;
    border: 3px solid #0d6efd; 
}

main{

    color : rgb(39, 39, 43);
}

section{
    transition: transform 0.3s ease;
    border: 3px solid #f0f2f3; 
    background-color: #f1f3f5; 
    padding: 50px 0;
}
