
.header-content {
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #495057;
 }

 .header-content {
    
    background-color: #f8f9fa; 
    padding: 50px 0;
 }

card-estandar{
    border-radius: 10px;
    transition: transform 0.3s ease;
    border: 3px solid #0d6efd; 
}

main{

    color : rgb(39, 39, 43);
}

section{
    transition: transform 0.3s ease;
    border: 3px solid #f0f2f3; 
    background-color: #f1f3f5; 
    padding: 50px 0;}


@media (min-width: 1025px) {
 body {
 background-color: lightyellow;
 font-size: 18px;
 }
}


html, body {
    overflow-x: hidden; 
    width: 100%;       
}

 
img {
    max-width: 100%;
    height: auto;
}


.container, .container-fluid {
   
    margin-right: auto;
    margin-left: auto;
    
    padding-left: 15px; 
    padding-right: 15px;
}


@media (max-width: 100px) {
 body {
 font-size: 14px;
 }
} 