
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


body {
    font-family: 'Inter', sans-serif;
   
    background: radial-gradient(circle at top, #ffffff 0%, #e1e8ee 100%);
    background-attachment: fixed;
    min-height: 100vh;
    color: #333;
    margin: 0;
}


.navbar {
    box-shadow: 0 2px 10px rgba(102, 101, 101, 0.1);
}


#carouselExample {
    padding: 20px 0;
}

.carousel-item img {
   
    max-height: 400px;
    object-fit: contain;
    border-radius: 15px;
    
    width: 60%; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(103%) contrast(105%);
}


.table-responsive {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}


#contacto .card {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

#contacto .card:hover {
    transform: translateY(-5px); 
}

#contactForm {
    
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    padding: 20px;
    border-radius: 12px;
}

#contactForm .form-label {
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.9rem;
}


.btn-primary {
    background-color: #2c3e50;
    border: none;
    padding: 10px;
    font-weight: 600;
}

.btn-alerta {
    background-color: #05750b; 
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: all 0.3s ease;
}

.btn-alerta:hover {
    background-color: #b6b3b1; 
    color: #2c3e50;
    transform: scale(1.02);
}

.custom-footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 5px solid #05750b;
}

.custom-footer p {
    margin: 0;
    font-weight: 300;
}

.carousel-item img {
   
    image-rendering: -webkit-optimize-contrast; 
    backface-visibility: hidden; 
}


.navbar.bg-dark {
    background-color: #2c3e50 !important; 
    border-bottom: 3px solid #c8d3c8;    
}