/* Usamos el ID para darle estilo al bot칩n */
#btnproducto {
    background-color: #973605; 
    color: white;              /* Color del texto */
    padding: 10px 20px;       /* Tama침o del bot칩n */
    border: none;              /* Quita el borde feo por defecto */
    border-radius: 8px;        /* Bordes redondeados */
    font-size: 16px;           /* Tama침o de letra */
    cursor: pointer;           /* Cambia el cursor a una manito */
    transition: background 0.3s; /* Suaviza el cambio de color */
}

/* Efecto visual cuando pasas el mouse por encima */
#btnproducto:hover {
    background-color: #d64a0e; 
}